In [3]:
import pandas as pd
import random

# Read existing CSV file
existing_df = pd.read_csv('Job_db.csv')

# Define locations
locations = ['Kolkata', 'Bangalore', 'Chennai', 'Gurgaon', 'Mumbai', 'Pune', 'Noida', 'Hyderabad']

# Fill 'Location' column with random values for all rows
existing_df['Location'] = random.choices(locations, k=len(existing_df))

# Save updated DataFrame to CSV file
existing_df.to_csv('Job_db2.csv', index=False)

print("CSV file updated successfully.")

CSV file updated successfully.

In [2]:
existing_df['Location'].head(50)

0         Noida
1       Kolkata
2        Mumbai
3          Pune
4       Chennai
5         Noida
6       Kolkata
7       Gurgaon
8       Chennai
9       Kolkata
10      Gurgaon
11        Noida
12         Pune
13      Chennai
14    Hyderabad
15      Gurgaon
16      Kolkata
17      Kolkata
18      Kolkata
19      Gurgaon
20      Gurgaon
21      Kolkata
22    Hyderabad
23    Hyderabad
24        Noida
25         Pune
26      Gurgaon
27      Kolkata
28         Pune
29        Noida
30      Kolkata
31      Chennai
32      Gurgaon
33         Pune
34         Pune
35         Pune
36      Chennai
37         Pune
38        Noida
39      Chennai
40      Kolkata
41    Bangalore
42      Chennai
43      Chennai
44    Bangalore
45    Bangalore
46      Kolkata
47       Mumbai
48    Hyderabad
49         Pune
Name: Location, dtype: object